html[dir="ltr"] [class~="text-right"] {
    text-align: left !important;
}

html[dir="ltr"] [class~="placeholder:text-right"]::placeholder {
    text-align: left !important;
}

html[dir="ltr"] [class~="border-r-2"] {
    border-right-width: 0 !important;
    border-left-width: 2px !important;
}

html[dir="ltr"] [class~="border-r-4"] {
    border-right-width: 0 !important;
    border-left-width: 4px !important;
}

html[dir="ltr"] [class~="border-l-4"] {
    border-left-width: 0 !important;
    border-right-width: 4px !important;
}

html[dir="ltr"] [class~="border-r-[6px]"] {
    border-right-width: 0 !important;
    border-left-width: 6px !important;
}

html[dir="ltr"] [class~="border-l"] {
    border-left-width: 0 !important;
    border-right-width: 1px !important;
}

html[dir="ltr"] [class~="right-0"]:not([class~="left-0"]) {
    right: auto !important;
    left: 0 !important;
}

html[dir="ltr"] [class~="left-0"]:not([class~="right-0"]):not(#mobileSidebar) {
    left: auto !important;
    right: 0 !important;
}

html[dir="ltr"] [class~="right-4"] {
    right: auto !important;
    left: 1rem !important;
}

html[dir="ltr"] [class~="left-4"] {
    left: auto !important;
    right: 1rem !important;
}

html[dir="ltr"] [class~="mr-1"] {
    margin-right: 0 !important;
    margin-left: .25rem !important;
}

html[dir="ltr"] [class~="ml-1"] {
    margin-left: 0 !important;
    margin-right: .25rem !important;
}

@media (min-width: 640px) {
    html[dir="ltr"] [class~="sm:text-right"] {
        text-align: left !important;
    }
}

@media (min-width: 768px) {
    html[dir="ltr"] [class~="md:text-right"] {
        text-align: left !important;
    }
}

@media (min-width: 1024px) {
    html[dir="ltr"] [class~="lg:text-right"] {
        text-align: left !important;
    }

    html[dir="ltr"] [class~="lg:border-l"] {
        border-left-width: 0 !important;
        border-right-width: 1px !important;
    }
}
